#working-area{
    margin:30px auto 0px auto;
    /* display: inline-block; */
    
}
#question{
    margin: 50px auto;
}
#question td{
    background-color: grey;
}
table{
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(212, 245, 146);
}
table td{
    border: 2px solid rgb(0, 0, 0);
    padding: 20px;
    background-color: rgb(70, 69, 69);
    border-radius: 10px;
}

.btn{
   width: 10%;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 20px;
    background-color: rgb(182, 151, 255);
}
.btn:hover{
    background-color:rgb(163, 100, 199) ;
}
.controller{
    margin-top: 10px;
   text-align: center;
    
}
#btn-u{
    display: block;
    margin:30px auto 10px auto;
}
#btn-d{
    display: block;
    margin:10px auto 10px auto;
}